@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Capriola', sans-serif;
}

/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-10 px-6;
}

.padding-y {
  @apply sm:py-14 py-8;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}
/* END: General styles */

/* START: Hero styles */
.hero {
  @apply min-h-[100svh] w-full padding-x padding-y flex flex-col bg-primary-default sm:max-w-md;
}

.hero__result-container {
  @apply flex-1 flex flex-col justify-center items-center text-center;
}
/* END: Hero styles */

/* ... */

/* START: searchbar styles */
.searchbar {
  @apply w-full max-w-3xl;
}

.searchbar__item {
  @apply flex justify-start items-center;
}

.searchbar__input {
  @apply w-full h-[48px] pl-6 p-4 text-primary-default rounded-md outline-none cursor-pointer text-sm;
}

.searchbar__button {
  @apply min-h-[45px] min-w-[45px] rounded-full outline-none sm:ml-7 ml-6 grid place-content-center bg-white hover:bg-primary-500 focus:bg-primary-500 active:bg-primary-500/60 transition-all;
}
/* END: searchbar styles */

/****
Font family: Capriola
Font weight: 400
Font size: refer to figma
color palette: 
  text: #FFFFFF & 70% opacity, #000 deg
  background: 
    primary: 
      default: #1E213A
        500: #585676
        800: #100E1D
    light-green: #A9FF53
    light-yellow: #FAFF00

****/
